---
import Layout from '@/layouts/Layout.astro';
import { gazetteerFsRoot } from '@/gazetteer';
import { components } from '@/mdx/components';
// import StyledContent from '@/mdx/styled.astro';

export async function getStaticPaths() {
  const articles = await Astro.glob('/gazetteer/*.mdx');
  return articles.map(article => {
    let path = article.file.substring(gazetteerFsRoot.length + 1);
    path = path.substring(0, path.length - 4);
    return ({
      params: { pages: path },
      props: { Component: article.Content, title: article.frontmatter.title }
    });
  })
}

const { Component, title } = Astro.props;

---

<Layout title={title}>
	<main>
		<Component components={components} />
	</main>
</Layout>

