---
import Layout from '@/layouts/Layout.astro';
import { getGazetteerEntries } from '@/gazetteer/utils.astro';
import { components } from '@/mdx/components';
import type { AstroComponentFactory } from 'astro/dist/runtime/server';
import type { MarkdownHeading } from 'astro';
import RightSidebar from '@/components/RightSidebar/RightSidebar.astro';
import TableOfContents from '@/components/RightSidebar/TableOfContents';
import { generateToc } from '@/util/generateToc';

export type Props = {
	Component: AstroComponentFactory;
	title: string;
	headings: MarkdownHeading[];
}

export async function getStaticPaths() {
	const articles = await getGazetteerEntries();
	return articles.map(article => {
		return ({
			params: { pages: article.url.split('/').slice(1).join('/') },
			props: { Component: article.Content, title: article.frontmatter.title, headings: article.getHeadings() }
		});
	})
}

const { Component, title, headings } = Astro.props;

---

<Layout title={title}>
	<RightSidebar slot="secondary-sidebar">
    <TableOfContents toc={generateToc(headings)} slot="nav" client:idle />
  </RightSidebar>
	<main>
		<Component components={components} />
	</main>
</Layout>

