---
import SkipToContent from './SkipToContent.astro';
import SidebarToggle from './SidebarToggle';
import { default as GlobeAsiaAustraliaIcon } from '@heroicons/react/24/outline/GlobeAsiaAustraliaIcon';
import { default as EllipsisHorizontalCircleIcon } from '@heroicons/react/24/outline/EllipsisHorizontalCircleIcon';
import { default as Bars3Icon } from '@heroicons/react/24/outline/Bars3Icon';
import { ImageOverlay } from '../ImagePreview/ImageOverlay';

export interface Props {
	currentPage: string;
	hasSecondarySidebar: boolean;
}

const { hasSecondarySidebar } = Astro.props;
---

<header
	class="fixed flex h-24 items-center gap-2 px-4 bg-white w-full print:hidden"
>
	<SkipToContent />
	<h1>
		<GlobeAsiaAustraliaIcon className="w-8 h-8 inline" />
		World Catalogue
	</h1>

	<div class="ml-auto"></div>
	{
		hasSecondarySidebar && (
			<SidebarToggle
				sidebarClass="mobile-right-sidebar-toggle"
				mobileMenu="primary"
				title="Toggle Sidebar"
				client:idle
			>
				<EllipsisHorizontalCircleIcon className="w-6 h-6" />
			</SidebarToggle>
		)
	}
	<SidebarToggle
		sidebarClass="mobile-left-sidebar-toggle"
		mobileMenu="secondary"
		title="Toggle Sidebar"
		client:idle
	>
		<Bars3Icon className="w-6 h-6" />
	</SidebarToggle>
</header>
<div class="pt-24 print:hidden"></div>

<ImageOverlay client:idle />
