---
import Layout from '../layouts/Layout.astro';
import { components } from '@/mdx/components';
import Component, { frontmatter } from '@/components/Intro/Intro.mdx';
---

<Layout title={frontmatter.title}>
	<main>
		<Component components={components} />
	</main>
</Layout>
