---
import Header from '@/components/Header/Header.astro';
import './Layout.css';
export interface Props {
	title: string;
}

const { title } = Astro.props;
const currentPage = Astro.url.pathname;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="theme-blue-dark">
		<Header currentPage={currentPage} />
		<main class="layout">
			<aside id="left-sidebar" class="sidebar">
				<slot name="primary-sidebar">
					<p>An example sidebar</p>
					<p class="h-screen bg-slate-300"></p>
					<p>Let's see how it does.</p>
					<!-- <LeftSidebar currentPage={currentPage} /> -->
				</slot>
			</aside>
			<aside id="right-sidebar" class="sidebar">
				<slot name="secondary-sidebar">
					<p>The right sidebar</p>
					<p class="h-screen bg-slate-300"></p>
					<p>Let's see how it does.</p>
				</slot>
			</aside>
			<div id="main-content" class="main-column">
				<slot name="pre-article" />
				<article id="article">
					<slot />
				</article>
			</div>
		</main>
		<div class="main-column">
			<slot name="footer">
				<!-- <Footer /> -->
			</slot>
		</div>
	</body>
</html>
